h1 {
  color: #4f7c68;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  /*font-family: 'Sacramento', cursive;*/
  font-family: 'Mate', serif;
}

h2 {
  color: #2c5746;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #2c5545;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


hr {
  margin: 100px auto;
  color: #2c5746;
  border-top: dotted 10px;
  border-bottom: none;
  width: 80px;
  opacity: .55;
}

body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.middle-container {

}

.bottom-container {
  background-color: #2c5545;
  height: 180px;
  margin-top: 80px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 365px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #e4efe7;
  position: relative;
  padding-top: 100px;
}

.helloimgs {
  margin-top: 80px;
  margin-bottom: 30px;
  width: 25%;
  height: auto;
  border-radius: 100%;
}

.skillimg1 {
  width: 20%;
  height: auto;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  margin-top: 50px;
}

.skillimg2 {
  width: 20%;
  height: auto;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  margin-top: 15px;
}

ul {
  list-style-position: inside;
  text-align: center;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height:2;
}

.pineforest{
  width: 100%;
}

.profile{
  width: 50%;
  margin: auto;
  text-align: center;
  line-height:2;
}

.footer-link{
  position: relative;
  top: 40px;
  color:#e4efe7;
  font-weight: bold;
  padding: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color:#4f7c68;
}

.copyright{
   color: #EAF6F6;
   position: relative;
   top: 80px;
   font-size: .75rem;
}

.btn{
  position: relative;
  top: 50px;
}

.contact-me{
  padding-bottom: 70px;
}


.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #E4EFE7;
   font-family: 'Montserrat', sans-serif;
   font-size: 26px;
   font-weight: 100;
   padding: 21px;
   background-color: #2C5545;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #2C5545 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #2C5545;
   border: solid #2C5746 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
